<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserLogin</title>
    <link rel="stylesheet" href="/static/profReg.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
</head>
<body>
    <div id="main">
      <div id="formhead">
        <h1>Customer Register</h1>
      </div>
      <div id="canvas">
        <div id="form-body">
          <form action="/register" method="post"> 
            <!-- Email ID (Username) -->
            <label for="email">Email ID:</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <!-- Password -->
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <!-- Full Name -->
            <label for="fullname">Full Name:</label><br>
            <input type="text" id="fullname" name="fullname" required><br><br>

            <!-- Address -->
            <label for="address">Address:</label><br>
            <textarea id="address" name="address" rows="4" cols="50" required></textarea><br><br>

            <!-- Pin Code -->
            <label for="pincode">Pin Code:</label><br>
            <input type="text" id="pincode" name="pincode" ><br><br>
            
            <button type="submit">Register</button>
          </form>
        </div>
        
      </div>
        
    </div>
</body>
</html>