<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/customer_dash.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Solway:wght@300;400;500;700;800&display=swap');
    </style>
</head>
<body>

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Welcome {{user.fullname}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" >
                <ul class="navbar-nav ms-auto" style="display: flex; justify-content: center; width: 100%; padding-right: 15%;" >
                    <li class="nav-item"><a class="nav-link" href="/user/{{user.user_id}}">Home</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="/search">Search</a></li> -->
                    <li class="nav-item"><a class="nav-link" href="/summary/{{user.user_id}}">Summary</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li> -->
                    <li class="nav-item"><a class="nav-link" href="/profile/{{user.user_id}}">Profile</a></li>
                </ul>
            </div>
            
            <div class="nav-link" style="display: flex;">
                <a href="/logout"> <button class="button-4">Logout</button></a>
            </div>
        </div>
    </nav>

    <!-- Main Section: Looking For? -->
    <div class="container mt-5">
        
        <div>
            <form action="/search_service/{{user.user_id}}" style="display: flex; justify-content: center;">
                <div class="input-group mb-3" >
                    <input style="max-width:20%; " name="result" type="text" class="form-control" placeholder="Search Service" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </div>
             </form>
        </div>
        <h2 style="padding-bottom: 5px;display: flex ; justify-content: center;">Available Services</h2>
        <div class="row g-3" style="display: flex; justify-content: center;">
            {% for service in services %}
            <div class="col-md-2">
                <a href="/service/{{service.id}}/{{user.user_id}}" >
                    <button class="button-92" role="button">{{service.name}} </button></a>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- search box for search req -->
     <form action="/search_req/{{user.user_id}}">
        <div class="input-group mb-3" style="padding-left: 300px; padding-right: 200px; padding-top: 30px;">
            <input name="result" type="text" class="form-control" placeholder="Search Requests" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
        </div>
     </form>
    

    <!-- Service History Table -->
    <div class="tableMain" style="padding-left: 30px; padding-right: 30px;">
        <h3 style="padding-bottom: 10px;">Service History</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Service Name</th>
                    <th>Professional Name</th>
                    <th>Date of Request.</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <!-- Loop through services and display -->
                {% for service in service_request %}
                <tr>
                    <td>{{ service.id }}</td>
                    <td>{{ service.service_name }}</td>
                    <td>{{ service.professional_name }}</td>
                    <td>{{ service.date_of_request }}</td>
                    <td>
                        {% if service.status == 'closed' %}
                        Closed
                        {% elif service.status == 'rejected' %}
                        Rejected
                        {% elif service.status == 'requested' %}
                         Requested    
                        {% else %}
                        <a href="/service_remarks/{{ service.id }}" class="btn btn-sm btn-success">Close it?</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Bootstrap 5 JavaScript Bundle (Includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
